# FAQ: Keep the quotes, it solves a bunch of issues
# Postgres Env
PGHOST="postgres.database.host"
PGDATABASE="database"
PGPORT=6543
PGUSER="user.database"
PGPASSWORD="password"

# Auth Env
AUTH_SECRET="[minimum 32-character base64 string]"
AUTH_REDIRECT_URL="http://localhost:4321/api/oauth/[provider]/callback"

# Google Client Env
GOOGLE_CLIENT_ID="google_client_id"
GOOGLE_CLIENT_SECRET="google_client_secret"

# GitHub Client Env
GITHUB_CLIENT_ID="github_client_id"
GITHUB_CLIENT_SECRET="github_client_secret"

# Transaction Email Env
EMAIL_HOST="smtp.ethereal.email"
EMAIL_PORT=587
EMAIL_USER="example@ethereal.email"
EMAIL_PASS="password"