header {
    position: relative;
    left: 0;
    right: 0;
    z-index: 999;
}

header .navbar {
    height: 70px;
}

a.user-profile {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-left: 0px;
    max-width: 205px;
    width: 100%;
    flex: 0 0 205px;
    justify-content: center;
    text-align: center;
}
.user-profile  span{
display: block;
}
header .navbar-nav a.active {
    background: linear-gradient(90deg, #D900FF 3.19%, #8500FF 99.76%);
    border: 1px solid #D900FF;
    color: #eee;
}

.gaming-outline-btn.active {
    background: url(../images/gaming-btn.svg) no-repeat center center !important;
    border: none !important;
}

.user-profile-img {
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
    border-radius: 100px;
    object-fit: cover;
    overflow: hidden;
    /* fill: #1F032E;
filter: drop-shadow(0px 4px 32px rgba(218, 3, 247, 0.16)); */
    /* box-shadow: 0px 4px 36px 0px rgba(158, 25, 199, 0.67); */
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon, .offcanvas-header .btn-close {
    filter: brightness(0) invert(1);
}
.offcanvas-header .btn-close  {
    margin-left: auto;
}
.offcanvas-header {
    padding-block: 35px;
    background-color: #1F032E;
    position: relative;
    min-height: 110px;
}

.offcanvas {
    background-color: var(--secondary-color);
    max-width: 90%;
    
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

header {
    background-color: var(--dark-color);
    fill: #1F032E;
    filter: drop-shadow(0px 4px 32px rgba(218, 3, 247, 0.16));
}

header nav {
    height: 100px;
}

header .nav-item:not(:last-child) {
    margin-right: 10px;
}

header .container-fluid {
    max-width: 98%;
}

.header-ads {
    max-width: 432px;
    max-width: 460px;
    width: 100%;
    object-fit: cover;
}

.mobile-menu {
    display: none;
}
.movie-ticket-box {
    margin-bottom: -90px;
    position: absolute;
    z-index: 2;
    right: 44px;
}
/* #search-form { display: none; max-width: 160px; }
.mobile-search-box .icon-input__icon {
    font-size: 22px !important;
}
.mobile-search-box .icon-input__icon {
    top: 11px !important;
    font-size: 20px !important;
}
form.navbar-form.navbar-left.p-0 {
    position: relative;
    top: 0px;
    right: 0px;
}
#search-button .icon-input__icon {
    top: 1px !important;
    font-size: 21px !important;
    right: -9px;
} */
#search-form { display: none; }

#search-icon span.fa-solid.fa-magnifying-glass {
    position: absolute;
    right: 7px;
    top: 10px;
    font-size: 20px;
    color: var(--primary-color);
    z-index: 2;
}
button#search-button {
    font-size: 20px;
    color: var(--primary-color);
    margin-right: 7px;
}
/* #search-form .input-group{
    max-width: 150px;
} */
.header-right-side{
    display: none;
}
.desktop-profile{
    display: flex;
}

.header-ads.mobile-ads{
    display: none;
}
.welcome-btn {
    width: 100%;
    max-width: 400px;
    flex: 0 0 400px;
    mix-blend-mode: color-dodge;
}
.welcome-btn img{
    width: 100%;
}
@media(max-width:1024px) {
    .welcome-btn {
        max-width: 300px;
        flex: 0 0 auto;
    }
}
@media(max-width:991px) {
    header {
        box-shadow: 0px 0px 18px 0px rgba(218, 3, 247, 0.16);
        filter: unset;
        padding-inline: 10px;
    }

    header .nav-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .header-ads {
        max-width: 320px;
        width: 100%;
        object-fit: cover;
    }

    .user-profile {
        width: 100%;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
        font-family: 'Montserrat', sans-serif;
    }

    .nav-item a {
        color: #ffffff;
        font-size: 14px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.34);
        width: 100%;
        display: block;
        padding: 15px 30px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }

    .offcanvas-body.align-items-baseline {
        padding: 20px 0;
        background: rgba(55, 4, 89, 1);

    }

    header .nav-item {
        margin: 0px !important;

    }

    .header-social-media ul {
        display: flex;
        color: #fff;
        gap: 30px;
        margin-top: 10px;
    }


    .header-social-media {
        padding: 10px 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.34);
        font-family: 'Montserrat', sans-serif;
    }

    .header-social-media i {
        color: #fff;
        font-size: 20px;
    }

    .log-btn {
        padding: 15px 30px;
    }

    a.user-profile {
        flex-direction: row-reverse;
    }

  .desktop-profile .user-profile  {
        display: none;
  
    }

    .user-profile-img img {
        width: 100%;
    }

    .user-profile-img {
        width: 50px;
        height: 50px;
        flex: 50px;
        /* box-shadow: 0px 4px 20px 0px rgba(158, 25, 199, 0.67); */
    }
    .user-profile p{
        font-size: 16px;
    }
    .header-right-side{
      
        display: flex;
    }
    .welcome-btn {
     max-width: 290px;
     flex: auto;
    }
}

@media(max-width:767px) {
  
    .header-right-side {
        width: calc(100% - 405px);
        width: auto;
        justify-content: end;
    }
    
    .header-ads {
        max-width: 290px;
      
    }
}

@media(max-width:650px){
    .header-right-side {
        width: calc(100% - 115px);
      
    }
    .desktop-profile{
        display: none;
    }
    .header-ads.mobile-ads{
        /* display: block; */
        max-width: 100%;
        overflow: hidden;
    }
   #search-form{
    display: block !important;
   }
   #search-button {
    display: none !important;
   }
    
}
@media(max-width:480px){
    .header-right-side {
        width: calc(100% - 95px);
    }
    .header-ads {
        max-width: 290px;
    }
    .welcome-btn {
       display: none;
    }
}