---
const category = Astro.props.category; // Assuming `category` is passed as a prop to this component

interface Props {
  category: ({ slug: string, name: string })[]
}
---
<nav>
  <div class="nav nav-tabs" id="games-tab" role="tablist">
    <button class="nav-link" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-all" aria-selected="true">All</button>
    {category.map((cat) => (
      <button 
        class="nav-link" 
        id={`nav-${cat.slug}-tab`} 
        data-bs-toggle="tab" 
        data-bs-target={`#nav-${cat.slug}`} 
        type="button" 
        role="tab" 
        aria-controls={`nav-${cat.slug}`} 
        aria-selected="true"
      >
        {cat.name}
      </button>
    ))}
  </div>
</nav>
