footer {
  border-top: 1px solid  rgba(255, 255, 255, 0.34);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: var(--dark-color);
}
.footer-items {
  /* width: calc(100% - 136px); */
  /* max-width: 1790px; */
  margin: auto;
  /* border-left: 1px solid  rgba(255, 255, 255, 0.34);
  border-right: 1px solid  rgba(255, 255, 255, 0.34); */
  padding:5px 0 2px 0;
}
footer p{
    color: var(--lightblue-text);
    margin-top: 3%;
}
.social-media {
    margin-top:clamp(10px, 2vw, 30px)
}
  /* ads */
.footer-ad  {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    display: flex;
  gap: 10px;
    justify-content: space-around;
    padding-inline: 5px;
    align-items: center;
  }
  .justify-self2{
    justify-self: end;
  }
.footer-ad img{
  max-height: 64px;
  object-fit: cover;
}
  /* footer ul */

  .footer-menu{
    overflow: auto;
  }

  .footer-list{
    background: rgba(255, 255, 255, 0.09);
    height: 25px;
    margin-block: clamp(6px,.8vw, 6px);
    /* overflow-x: auto; */
  }
  .footer-ul {
    position: relative;
    transition: .2s ease-in-out;
       display: flex;
    align-items: center;   
    /* backdrop-filter: blur(8.5px); */
    min-width: 1140px;
}
.footer-ul a{
  font-size: 11px;
  color: #ffffff;
  text-transform: uppercase;
  padding:2px 16px;
  line-height: 3;
  position: relative;
}
.footer-ul li:not(:last-child) a::before {
  content: "";
  position: absolute;
  right: -3px;
  height: 100%;
  color: #D900FF;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 16px;
  height: 16px;
  background-color: #D900FF;
  width: 1px;
}
.win-box {
  /* min-width: 205px; */
  /* max-width: 300px; */
  padding: 4px 13px;
  border: 1px solid #fff;
  display: inline-flex;
  color: #fff;
  align-items: center;
  width: fit-content;
  justify-self: center
}
 .win-box .spacer {
  height: 50px;
  border-left: .5px solid #fff;
  border-right: .5px solid #fff;
  margin: 0px 9px;
}
.f-8{
  font-size: 8px;
}
.trophy img {
  height: 41px;
}
.win-content .win img {
  width: 9px !important;
  max-width: 9px !important;
  margin-top: -1px;
}
.win-content {
  width: max-content;
}

@media(max-width:991px){
  .footer-list{
    display: none !important;
  }
  .footer-ad {
    padding: 8px;
}

}

@media(max-width:650px){
  .footer-ad{
    justify-content: center;
    padding-inline:2px ;
  }
  .footer-ad .footer-ad-one{
display: none;
  }
}