---
const assetPath = '/front/images/straight-line.svg';
---
<div class="sidebar-left-icons">
  <ul>
    <li><a href="https://www.facebook.com/people/IWin-Gaming/100083289045045/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
    <li><a href="https://www.instagram.com/iwingamers/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
    <!-- <li class="straight-line"><img src={assetPath} alt="Straight Line"></li> -->
    <li>
      <p class="mb-0 text-white">Follow us</p>
    </li>
  </ul>
</div>
