---
import { getRequestSegment } from '~/utils/request.ts'; // This function should be implemented to get the current URL segment
// import { useSession } from 'astro-auth'; // This hook should be implemented to check if the user is authenticated
const requestSegment = getRequestSegment(1, Astro.url);

console.log({
  requestSegment
})

// This hook should be implemented to check if the user is authenticated
const _user = Astro.locals?.user;
const username = _user?.username;

// Simulate auth state and user data for the example. Replace with actual logic.
const isAuthenticated = !!username;
const user = { name: username ?? 'UserName' };

export const prerender = false;
---
<div class="games-room-btns desktop">
  {requestSegment === 'tournaments' && (
    <a href="/" class={`btn rounded-pill ${'btn-light'} px-5`}>Practice</a>
  )}
  {requestSegment === '' && (
    <>
      {isAuthenticated ? (
        <a href="/tournaments" class="btn rounded-pill px-5 btn-light" style="background-color: red; border-color:red">Tournaments</a>
      ) : (
        <a href="/login" class="btn rounded-pill btn-light px-5" style="background-color: red; border-color:red">Tournaments</a>
      )}
    </>
  )}
</div>
