---
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" sizes="32x32" href="/front/images/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/front/images/favicon-16x16.png" />
  <title>IWin Gaming | {title}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="/front/css/bootstrap.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/front/css/owl.carousel.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/front/css/header.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/front/css/footer.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/front/css/sidebar.css" media="all" />
  <link rel="stylesheet" href="/front/toastr/toastr.min.css" />
  <link rel="stylesheet" type="text/css" href="/front/css/style.css" media="all" />
  <!-- {Astro.slots.head} -->
  <slot name="head" />
</head>
<body>
  <div id="preloader" class="preloader" style="display:none;">
    <div id="loader"></div>
  </div>
  <header id="header">
    <Header />
  </header>
  <div class="content">
    <div class="container-fluid">
      <div class="main-content">
        <div id="sidebar-left">
          <Sidebar />
        </div>
        <div class="middle-content">
          <slot />
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="verification" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="verificationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h4 class="f-20 text-white">We have sent you a verification link on your registered email address</h4>
        </div>
        <div class="modal-footer justify-content-center border-0">
          <a href="/" class="btn btn-primary">Okay</a>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer" class="primary-bg overflow-hidden">
    <Footer />
  </footer>
  <script src="/front/js/jquery.min.js" is:inline></script>
  <script src="/front/js/bundle.min.js" is:inline></script>
  <script src="/front/js/owl.carousel.min.js" is:inline></script>
  <script src="/front/js/slider.js" is:inline></script>
  <script src="/front/toastr/toastr.min.js" is:inline></script>

  <slot name="scripts" />
  <slot name="customJs" />
  <!-- {Astro.slots.scripts}
  {Astro.slots.customJs} -->
</body>
</html>
